$site-width: 1440px;
$container-width: 1170px;
$container-offset: 30px;
$font-family: "Lato";
$mainColor: #e7490f;
$mainColorHover: #aa390f;
$mainColorActive: #962c05;
$secondColor: #000;
$pColor: #fff;
$isFocusColor: rgb(0 195 255);
